body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #092e0d;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav ul{
    
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav a{
    color: #fff;
    text-decoration: none;
    
}

a:hover {
    color: #06350d; 
    background-color: #f0f0f0; 
    padding: 0.2rem; 
    border-radius: 5px; 
}


main {
    padding: 2rem;
}

.titulo {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    text-align: center;
    color: #092e0d;
}

.especie {
    background: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    overflow: hidden; 
}

.carrossel {
    display: flex; 
    overflow-x: auto; 
    scroll-snap-type: x mandatory; 
    gap: 10px; 
    padding: 10px 0; 
}
.carrossel img {
    scroll-snap-align: start; 
    border-radius: 10px;
    min-width: 200px; 
    height: auto; 
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #092e0d;
    color: #fff;
    width: 100%;
    bottom: 0;
}
.contato {
    padding: 1rem;
    margin: 2rem auto;
    max-width: 400px; 
    text-align:center; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #092e0d; 
    background-color: #f9f9f9; 
    border-radius: 20px; 
    flex-direction: row;
    
}

.especies {
    padding: 1rem;
    margin: 2rem auto;
    max-width: 900px; 
    text-align:center; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #092e0d; 
    background-color: #ffffff; 
    border-radius: 5px; 
    
}
a{
    color: black;
    text-decoration: none;

}
.logo {
    max-width: 100%; 
    height: auto; 
    width: 200px; 
    margin: 0 auto; 
    display: block; 
}


